*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.container_home1{
    height: 500px;
    width: 500px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.2);
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
}
.container_home1 .buttons{
        margin: 140px 105px ;
        height: 30vh;
        width: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.container_home1 .buttons .block {
    height: auto;
    display: block;
    width: 100%;
    border: none;
    background-color: #7507a0;
    color: #f7f3f9;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-weight:bolder;
  }
  
.container_home1 .buttons  .block:hover {
    background-color: #871db0;
    color: rgb(236, 226, 226);
  }
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    background-color: #fff;
}
.container .head a{
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 8px;
    cursor: pointer;
    color: #9b59b6;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
form .user_details .input_box{
    margin: 20px 0 12px 0;
    width: calc(100%/2-20%);
}
.user_details .input_box input{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding-left: 14px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user_details .input_box .details{
    font-weight: 500;
    display: block;
    margin: 5px;
}
.user_details .input_box input:focus,
.user_details .input_box input:valid{
    border-color: #9b59b6;
}
form .button{
    height: auto;
    width: 100%;
    border: none;
    background-color: #7507a0;
    color: #f7f3f9;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-weight:bolder;
}
form .button:hover {
    background-color: #871db0;
    color: rgb(236, 226, 226);
  }
form .button3{
    height: 45px;
    margin: 10px 0 ;
    display: block;
    text-align: center;
}
form .button3 input{
    width: 20%;
    height: 100%;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
    border: none;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}


